nav{
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111111;
      }
}

.containerMain{
    max-width: 1526px;
    background-color: RGB(0, 155, 119);
    text-align: center;
    height: 768px;
}

input {
    width: 92%;
    border-radius: 25px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing:inherit;
  }
  .button {
    background-color:rgb(28, 28, 59);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }